body {
    background-image: url(https://www.istockphoto.com/illustrations/time-background-repeat);
    background-repeat: repeat;
    background-color: rgb(197, 197, 197);
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #1cf300;
}
 
#logo {
    height: 140px;
    background-color: #2d2d2d;
    margin-bottom: 1px;
}

img {
    height: 100%;
}

#nav {
    height: 25%;
    background-color: #2d2d2d;
    padding: 15px 0px;
    text-transform: uppercase;
}

.list-normal {
    color: aliceblue;
    font-weight: 800;
    text-decoration: none;
    padding: 20px 5px 5px 5px;
}

.list-normal:hover {
    color: #1cf300;
    font-weight: 800;
    padding: 20px 5px 5px 5px;
    border-bottom: 2px solid #1cf300;
}

.list {
    color: #1cf300;
    font-weight: 800;
    padding: 20px 5px 5px 5px;
    text-decoration: none;
    border-bottom: 2px solid #1cf300;
}

.content {
    background-color: #ffffff;
    padding: 20px;
}

.content-l {
    width: 65%;
    display: inline-block;
}

.same {
    padding: 5px 5px;
}

h1 {
    margin: 1px;
}

.item {
    border-top: 5px solid #202020;
    display: inline-block;
}

.item > div {
    display: inline-block;
    padding: 10px;
}

h2 {
    font-size: small;
}

.content-r {
    position: sticky;
    top: 0;
    float: right;
    width: 30%;
}

.content-r > div {
    margin: 0 auto;
}

footer {
    background-color: #353535;
    height: 50px;
}

footer > div {
    display: inline-block;
}

footer > div:first-child {
    padding-left: 2%;
}

footer > div > p {
    color: #ebebeb;
}

footer > .footer-r {
    padding-left: 58%;
}

footer > .footer-r > a {
    color: #ebebeb;
    text-decoration: none;
}

footer > .footer-r > a:hover {
    color: #009803;
}

footer > .footer-r > a:first-child {
    border-right: 1px solid #ebebeb;
    padding-right: 4px;
}