body {
    margin: 0 auto;
}
nav {
    text-align: center;
    background-color: rgb(200, 31, 163);
    height: 60px;
    width: 100%;
    padding: 25px 0 0;
}
nav a {
    padding: 0px 10px 0px 0px;
    text-decoration: none;
    color: rgb(105, 185, 255);
}
.a {
    width: 80%;
    height: 800px;
    background-color: blue;
}
.b {
    width: 20%;
    height: 400px;
    background-color: brown;
}
.c {
    width: 75%;
    display: flex;
    margin-left: auto; 
    margin-right: auto;  
    text-align: center;
}



/*point  . for class
# for id
*/